.button {
  text-decoration: none;
  color: gray;
}

.button:hover {
  text-decoration: none;
  color: rgb(68, 66, 66);
}

.back-btn {
  // display: inline;
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 10px;
}

.add-btn{
  font-family: "Comforter", sans-serif;
}
